<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Error</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}" />
</head>
<body class="p-3 mb-2 bg-light text-black">
<div class="container" style="margin-top: 5em;">
    <h1 class="display-5">Something went wrong.</h1>
    <p th:text="'Error code: ' + ${status}"></p>
    <p th:text="${error}"></p>
    <p th:text="${message}"></p>
    <a th:href="@{/login}" class="btn btn-primary mt-3">Back to Login</a>
</div>
</body>
</html>